/* U Chicago colors */
/* red: #800000 */
/* grey: #4d4d4f */
/* gold: #ffbd25 */

:root {
  --uc-red: #800000;
  --uc-grey: #4d4d4f;
  --uc-gold: #ffbd25;
  --uc-tan: #F3F3F1;
}

.box-1 {
    background-color: #800000;
    color: #FFFFFF;
    padding: 0.1em 0.4em 0.1em 0.4em;
    margin: 0.1em 0em 0.1em 0em;
}

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: white }

.title-slide {
    background-image: url("https://grahamschool.uchicago.edu/themes/custom/ts_uchi/images/svgs/logo.svg");
    /* background-color: #D6D6CE; */
    background-color: #F3F3F1;
    background-position: 5% 15%;
    background-size: 50%;
    padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

.title-slide h1 {
    color: #800000; /* U Chicago red */
    padding-top: 250px;
    font-weight: normal;
    font-size: 45px;
    line-height: 0.05;
    text-align: left;
    text-shadow: none;
    padding-bottom: 18px;
    margin-bottom: 18px;
}

/* H2 fonts */
.title-slide h2 {
    color: #4d4d4f; /* U Chicago grey accent 1 */
    font-size: 35px;
    text-align: left;
    text-shadow: none;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
}

/* H3 fonts */
.title-slide h3 {
    font-size: 28px;
    font-weight: normal;
    color: #4d4d4f; /* U Chicago grey accent 1 */
    text-align: left;
    text-shadow: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

/* Remove slide count */
.hide-count .remark-slide-number {
    display: none;
}

.title-slide .remark-slide-number {
    display: none;
}


/* Other adjustments */

.text-slide {
    /* background-color: #800000; */
    /* color: #F3F3F1; */
}

.text-slide h1 {
    /* color: #F3F3F1; */
    color: #800000;
}

.text-slide p {
    /* color: #F3F3F1; U Chicago grey accent 1  */
    color: #4d4d4f;
    line-height: 1.5;
    margin: 0;
}

.text-slide li {
    /* color: #F3F3F1; */
    color: #4d4d4f;
    padding: .05em;
    line-height: 1.5;
}

.text-slide li:nth-last-child() {
    padding-bottom: 0;
}

.text-slide .remark-slide-number {
    /* color: #F3F3F1; */
    color: #4d4d4f;
}

.main-slide {
    background-color: #800000;
    color: #F3F3F1;
}

.main-slide h1 {
    color: #F3F3F1;
}

.main-slide p {
    color: #F3F3F1;
}

.remark-slide table {
    background-color: #F3F3F1;
    padding: .1em;
    margin: auto;
    border-top: none;
    border-bottom: none;
}

th {
    background-color: #F3F3F1;
    font-size: .60em;
    padding: 3px;
    color: #800000;
}

td {
    background-color: #F3F3F1;
    font-size: .69em;
    padding: 3px;
    color: #4d4d4f;
}

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
    background: none;
}

.remark-slide tr:nth-child(even) {
    background: none;
}

#slide-cost > h3 {
    /* color: #F3F3F1; */
    color: #4d4d4f;
}

.last-slide h1 {
    color: #4d4d4f;
}

.last-slide {
    /* background-color: #F3F3F1; */
    text-align: left;
}

.last-slide img {
    height: 75%;
    width: 75%;
}

.table-info > table:nth-child(3) {
    margin-top: .55em;
}

.remark-slide-content {
  font-size: 40px;
  /* Base font size */
  padding: 1em 1em 1em 1em;
}

div.my-header {
    background-color: #F77A00;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffb76b), color-stop(0%,#ffa73d), color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(25%,#F77A00), color-stop(100%,#F77A00));
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
}

div.my-footer {
    background-color: #272822;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;
}

.mysql-image {
  background-color: white;
}

.svg-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.svg-img-full {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* CSS from Andrew Heiss https://github.com/andrewheiss/datavizm20.classes.andrewheiss.com/blob/master/static/slides/css/ath-slides.css */

/*
Three column layout
*/
.pull-left-3 {
  float: left;
  width: 30%;
  padding: 0 2.5% 0 0;
}

.pull-middle-3 {
  float: left;
  width: 30%;
  padding: 0 2.5%;
}

.pull-right-3 {
  float: right;
  width: 30%;
  padding: 0 0 0 2.5%;
}

.huge {
  font-size: 2.2em;
}

.large {
  font-size: 1.7em;
}

.normal {
  font-size: 1em;
}

.medium {
  font-size: 1.4em;
}

.SMALL {
  /* CURSE YOU LATEX */
  font-size: 0.9em;
}

.small {
  font-size: 0.8em;
}

.tiny {
  font-size: 0.5em;
}

.light {
  font-weight: 300;
}

.title {
  padding-top: 0em;
  border-top: 110px solid #777777;
}

.title h1 {
  margin-top: -85px;
  margin-bottom: 50px;
}

.title-inv-7 {
  border-top-color: var(--uc-tan);
}

.box-inv-7,
.section-title-inv-7 {
  background-color: var(--uc-tan);
}

.box-inv-7,
.title-inv-7 h1,
.section-title-inv-7 h1 {
  color: var(--uc-red);
}

.section-title h1,
.section-title-inv h1 {
  color: #FFFFFF;
  font-size: 2.3em;
  line-height: 1.3;
}

/* CSS from Alison https://github.com/rstudio-education/arm-workshop-rsc2019/blob/master/static/slides/css/ */

div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;
}
